.routineModal {
  .content {
    background-color: lighten($body-bg, 12%);
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding-bottom: 0;
  }

  .body {
    text-align: center;
    margin-bottom: 10px;
  }
}
